.container {
    width: 250px;
    background-color: rgb(255, 115, 0);
    padding: 20px;
    text-align: center;
    margin: auto;
    margin-top: 200px;
}
input {
    width: 80%;
    height: 25px;
    font-size: 1.5em;
    font-family: sans-serif;
    margin-bottom: 20px;
}
button {
    width: 60%;
    height: 25px;
    border: 0;
    border-radius: 20px;
    font-size: 1em;
}
button:hover {
    background-color: rgb(255, 220, 196);
}
p {
    color: white;
    font-size: 1.3em;
}