* {
    margin: 0;
}

Body {
    background-image: url(../image/fundo.jpeg);
}
div{
    background-color: #348df3c5;
    width: 400px;
    height: 175px;
    border-radius: 10px;
    padding: 5px;
    margin: auto;
    margin-top: 300px;
    text-align: center;
}
h1{
    margin: 3px;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 2px black;
}
.hour{
    font-size: 3em;
    margin: auto;
    margin-top: 5px;
    text-align: center;
    padding: 2px;
    background-color: #ffffff;
    width: 60%;
    border-radius: 10px;
}
.displayDate {
    color: white;
    font-weight: bold;
    font-size: 2em;
    background-color: rgba(128, 66, 66, 0.247);
    margin-top: 5px;
}
button{
    margin-top: 10px;
    width: 100px;
    height: 30px;
    border: 0;
    border-radius: 5px;
    background-color: #001e41;
    color: white;
}
button:hover{
    background-color: #003979;
    color: white;
}