section {
    text-align: center;
    margin: auto;
    background-color: rgb(212, 206, 206);
    padding: 10px;
    width: 150px;
    color: rgb(0, 0, 0);
}

p {
    display: block;
}

input {
    margin-bottom: 10px;
    width: 30px;
}

button {
    margin-top: 15px;
    background-color: brown;
    color: white;
    border: 0;
    width: 95px;
    height: 25px;
}